@import '/src/assets/scss/variables';

.title-block {
  width: 490px;

  &__body {
    display: flex;
    margin: 0 0 47px;
    padding: 5px 0 0 55px;
  }

  &__type-body {
    text-align: right;
    width: 37px;

    & h1,
    & h2,
    & h3,
    & p {
      color: $dark-25;
      font-weight: 400;
    }
  }

  &__title-body {
    margin: 0 0 0 30px;
    & p {width: 305px;}
  }
}

