@import '~normalize.css';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/fonts';
@import '/src/assets/scss/variables';

body {
  color: $dark-75;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
}

h1 {
  color: $dark-100;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
}

h2 {
  color: $dark-100;
  font-size: 19px;
  font-weight: 700;
  line-height: 23.16px;
  margin: 10px 0 0;
}

h3 {
  color: $dark-100;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
}
