@import '~normalize.css';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/fonts';
@import '/src/assets/scss/variables';

body {
  color: $dark-75;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;
}

h1 {
  color: $dark-100;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  margin: 0;
}

h2 {
  color: $dark-100;
  font-size: 19px;
  font-weight: 700;
  line-height: 23.16px;
  margin: 0;
}

h3 {
  color: $dark-100;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  margin: 0;
  text-transform: uppercase;
}

p {margin: 0;}

.logo {
  fill: $dark-25;
  height: 48px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 48px;
}

.mb-20 {margin-bottom: 20px;}
