doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Colors &amp; Type
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    img.logo(src=require("../../assets/img/logo.svg"))
    .container
      .typography
        include ../../desktop/color-block/color-block
        include ../../desktop/title-block/title-block