doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Form Elements
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    svg(class="logo" viewBox="0 0 48 48")
      use(xlink:href=require("../../assets/img/icons/sprite.svg") + "#logo")
    .container
      .form-elements
        include ../../desktop/text-field/text-field

