.dropdown
  .dropdown__body
    .dropdown__label
      h3.dropdown__title Dropdown
      h3.dropdown__text Default
    select.dropdown__select(name="combo")
      option(disabled) Выбрать
      option(value="HTML") HTML
      option(value="JavaScript") JavaScript
      option(value="PHP") PHP
